VITE_FIREBASE_API_KEY=AIzaSyDuIZp_jqzjGYbz9tVfLpthPCLEMISwquo
VITE_FIREBASE_AUTH_DOMAIN=elden-reservations.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elden-reservations
VITE_FIREBASE_STORAGE_BUCKET=elden-reservations.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=268338523202
VITE_FIREBASE_APP_ID=1:268338523202:web:819944f7d18ba5397b51db
